{#
    Options
    ?empty: string
    ?format: string | default: 'F jS Y'
    ?timezone: string | default null
#}
{% macro date(date, opts) %}{% apply spaceless %}
    {% if date is empty %}
        {% if opts.empty is defined and opts.empty is not empty %}{{ opts.empty }}{% endif %}
    {% else %}
        <time datetime="{{ date|date('Y-m-d', opts.timezone|default(null)) }}">{{ date|date(opts.format|default('F jS Y'), opts.timezone|default(null)) }}</time>
    {% endif %}
{% endapply %}{% endmacro %}

{% macro datetime(date, opts) %}
    {% if date is empty %}
        {% if opts.empty is defined and opts.empty is not empty %}{{ opts.empty }}{% endif %}
    {% else %}
        <time datetime="{{ date|date('Y-m-d H:i:s') }}">{{ date|date(opts.format|default('F jS Y \\a\\t H:i'), opts.timezone|default(null)) }}</time>
    {% endif %}
{% endmacro %}

{% macro dateWithTimezone(date, opts = []) %}{% apply spaceless %}
    {% if not opts.timezone is defined or opts.timezone is empty %}
        <span style="color: red;">TIMEZONE NOT SET</span>
    {% endif %}

    {{ _self.date(date, opts) }}
{% endapply %}{% endmacro %}

{% macro datetimeWithTimezone(date, opts = []) %}{% apply spaceless %}
    {% if not opts.timezone is defined or opts.timezone is empty %}
        <span style="color: red;">TIMEZONE NOT SET</span>
    {% endif %}

    {{ _self.datetime(date, opts) }}
{% endapply %}{% endmacro %}


{% macro money(money, opts) %}{% apply spaceless %}
    {% if money is empty %}
        {% if opts.empty is defined and opts.empty is not empty %}{{ opts.empty }}{% endif %}
    {% else %}
        {{ "%.2f"|format(money.amount / 100)|format_currency(money.currency.code) }}
    {% endif %}
{% endapply %}{% endmacro %}

{% macro moneyWholePart(money) %}{% apply spaceless %}
    {{ _self.money(money)|split('.')[0] }}
{% endapply %}{% endmacro %}

{% macro moneyDecimalPart(money) %}{% apply spaceless %}
    {{ _self.money(money)|split('.')[1] }}
{% endapply %}{% endmacro %}

{% macro nullable(value, opts) %}
    {% if value is empty %}
        {% if opts.empty is defined and opts.empty is not empty %}{{ opts.empty }}{% endif %}
    {% else %}
        {{ value }}
    {% endif %}
{% endmacro %}

{% macro telephone(value, opts) %}
    {% if value is empty %}
        {% if opts.empty is defined and opts.empty is not empty %}{{ opts.empty }}{% endif %}
    {% else %}
        <a href="tel:{{ value }}">{{ value }}</a>
    {% endif %}
{% endmacro %}

{% macro email(value, opts) %}
    {% if value is empty %}
        {% if opts.empty is defined and opts.empty is not empty %}{{ opts.empty }}{% endif %}
    {% else %}
        <a href="mailto:{{ value }}">{{ value }}</a>
    {% endif %}
{% endmacro %}

{#
Options
true: string | default: 'True'
false: string | default: 'False'
#}
{% macro boolean(value, opts) %}
    {% if (value is empty) and (value != false) %}
        {% if opts.empty is defined and opts.empty is not empty %}{{ opts.empty }}{% endif %}
    {% else %}
        {{ value ? (opts.true is defined ? opts.true : 'True') : (opts.false is defined ? opts.false : 'False') }}
    {% endif %}
{% endmacro %}

{% macro progress(value, opts) %}
    <div class="progress-bar">
        <div class="progress-bar__bar">
            <div
                    class="progress-bar__progress"
                    style="width: {{ value }}%"
            ></div>
        </div>
    </div>
{% endmacro %}